body{
background-color:#f2f2f2;
}

#profile-wrapper{
text-align:center;
}

#profile-pic{
margin-left:auto;
margin-right:auto;
width:150p;
height:150px;
border-radius:50%;
}

ul{
padding:0;
list-style-type:none;
}

.social-links,ul,li{
list-style-type:none;

display:inline-block;
}
.social{
width:30px;
height:30px;
} 
